<h1>Edit User</h1>
<%= form_for :user, url: user_path(@user), method: :patch do |f|%>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <%= f.label :user_name%><br>
  <%= f.text_field :username%><br>

  <%= f.label :pass_word%><br>
  <%= f.text_field :password%><br>

  <%= f.submit %>
<%end%>
