<% if @user %>
  <% @title = "#{@user.username}" %>

  <div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <%= cl_image_tag("skillupapp/user/#{@user.avatar}", format: :png,
          #:gravity=>"faces", :crop=>"fill",
          :width => 160, :height => 200) %>
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= "Card User N #{@user.id}" %></h5>
          <p class="card-text">
            E-mail: <%= "#{@user.email} " %><br>
            Phone: <%= "#{@user.phone if @user.phone} " %><br>
            Note: <%= "#{@user.description if @user.description} " %><br>
            <small class="text-muted">Role: <%= "#{@user.role if @user.role} " %></small>
          </p>
          <p class="card-text">
            <%= link_to "Edit profile", edit_user_path, :class => 'btn btn-primary' %>
          </p>
        </div>
      </div>
    </div>
  </div>
<% end %>