@title = 'New Order'
<%= form_for :order, url: orders_path do |t| %>
  <% if @order.errors.any? %>
    <% @order.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>

  <p>
    <%= t.label :username %><br>
    <%= t.text_field(:login, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= t.label :phone_number %><br>
    <%= t.phone_field(:phone, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= t.label :order_description %><br>
    <%= t.text_area(:description, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= submit_tag("Submit", {:class => 'btn btn-lg btn-primary btn-block'}) %> 
  </p>
<% end %>
