<%= form_for :user, url: users_path do |t| %>
  <% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
  <% end %>


:nickname, :phone, :email, :password
  <p>
    <%= t.label :username %><br>
    <%= t.text_field(:nickname, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= t.label :pass %><br>
    <%= t.phone_field(:password, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= t.label :phone_number %><br>
    <%= t.phone_field(:phone, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= t.label :user_email %><br>
    <%= t.text_area(:email, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= submit_tag("Submit", {:class => 'btn btn-lg btn-primary btn-block'}) %> 
  </p>
<% end %>
