<nav class="navbar navbar-expand-md navbar-white bg-white">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample04" aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample04">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <%= link_to  "Home", home_path, :class => 'nav-link' %>
      </li>
      <% if @current_user %> 
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Orders</a>
          <div class="dropdown-menu">
            <%= link_to  "New order", new_order_path, :class => 'dropdown-item' %>
            <div class="dropdown-divider"></div>
            <%= link_to  "All orders", orders_path, :class => 'dropdown-item' %>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Users</a>
          <div class="dropdown-menu">
            <%= link_to "Profile", @current_user, :class => 'dropdown-item' %>
            <div class="dropdown-divider"></div>
          </div>
        </li>
        <li class="nav-item">
            <%= link_to "Logout", logout_path, method: :delete, :class => 'nav-link' %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Log in", login_path, :class => 'nav-link' %>
        </li>
      <% end %> 
    </ul>
  </div>
</nav>
